aiohappyeyeballs
aiohttp
aiosignal
aiosqlite
asyncpg
attrs
audioop-lts
certifi
charset-normalizer
discord.py
frozenlist
idna
mercadopago
multidict
propcache
python-dotenv
requests
urllib3
yarl
flask

